.App {
  text-align: center;
}

.cardholder{
  width: 320px;
  height: auto;
  background: grey;
  padding: 5px;
}

.card{
  width: 300px;
  height: auto;
  background: lightgray;
  margin: 10px;
}


.img{
  width: 256px;
  height: auto;
}